*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
body,
figure,
figcaption,
button {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

:root {
  font-family: inter, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

button {
  cursor: pointer;
}

input {
  font-family: inter, Arial, sans-serif;
}
